.frame {
    margin: 0;
    background-color: whitesmoke;
    border: 4px rgb(251, 228, 18) solid;
    border-radius: 6px;
    margin: 2em;
    padding: 2em;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 10px;
}

.bottom-half {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    position: relative;
    bottom: 3em;
    justify-content: space-around;
}

@media (min-width: 546px) {
    .frame {
        margin: 4em;
    }
}
